@use '../scss/partials/variables' as *;
@use '../scss/partials/modal';
@use '../scss/partials/home-cards';
@import '~bootstrap/scss/bootstrap';

body {
    background-color: $bg-color-gray;
}

a {
    text-decoration: none;
    color: inherit;
}