//Cards

.card {
    h1 {
        color: #3F403E;
    }

    ;

    img {
        width: 100%;
        max-height: 450px;
        object-fit: contain;
        object-position: center;
    }

    i {
        font-size: 18px;
    }
}

.disabled {
    opacity: 0.3;
}